/Project_ppt.pptx
/OLS(band).txt
/OLS(continuous).txt
/~$Project_ppt.pptx
/tex files/main.tex
/tex files/main.out
/tex files/main.log
/tex files/main.ist
/tex files/main.glo
/tex files/main.aux
/tex files/main.acn
/tex files/main.toc
/tex files/main.synctex.gz